name: Metrics
on:
  # Schedule updates (ogni giorno a mezzanotte)
  schedule: [{cron: "0 0 * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["main", "master"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: Mattia-Rollo
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Rome
          
          # Aesthetics (Colore che ti piaceva prima)
          config_theme: tokyonight
          
          # Content to display
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_details: bytes-size, percentage
